@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    margin: 0px;
}

nav {
    background-color: #1f2937;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 16px;
}

a.menu-item {
    font-size: 16px;
    color: white;
    text-decoration: none;
}


#hero {
    font-size: 48;
    font-weight: 900;
    color: #f9faf8;
    line-height: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.first-block {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    margin-right: 150px;
    margin-left: 150px;
}

.left-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    align-items: center;
}

.right-panel {
    display: flex;
    width: 250px;
    height: 300px;
    justify-content: space-between;
    margin-right: 150px;
}

.hero-background {
    background-color: #1f2937;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -99;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: none;
    padding:8px 16px;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.cards {
    color: #1f2937;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.square-1,
.square-2,
.square-3,
.square-4 {
    border: 3px solid black;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

.square-1 {
    background-image: url("pexels-photo-227908.jpeg");
    background-size: cover;
}

.square-2 {
    background-image: url("pexels-photo-327136.jpeg");
    background-size: cover;
}

.square-3 {
    background-image: url("pexels-photo-1772124.jpeg");
    background-size: cover;
}

.square-4 {
    background-image: url("tea-bags.jpg");
    background-size: cover;
}


.info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-group p {
    width: 150px;
    margin-top: 10px;
    font-size: 14px;
}

.third-block {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding: 100px 150px;
}

.signature {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.blue-box {
    background-color: #3882f6;
    height: 100px;
    margin: 70px 150px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.cta-head {
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 0px;
}

#cta-button {
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 50px;
}